In [1]:
import os
from PIL import Image
import cv2
import numpy as np
import pandas as pd

In [3]:
# creates the dataframe
avg_df = pd.DataFrame()
empty_df = {'Filename':'', 'R Average':'', 'G Average':'', 'B Average':''}
avg_df = avg_df.append(empty_df, ignore_index=True)
avg_df = avg_df.reindex(columns=['Filename','R Average', 'G Average','B Average'])
avg_df

  Filename R Average G Average B Average
0

In [6]:
def create_df(avg_df):
    # read in all images and calculate the average RGB
    data_path = 'data/images/'

    o = 0
    for image in os.listdir(data_path):
            if o%1000==0:
                print(o)
            full_path = data_path + image
            img = cv2.imread(full_path)
            if img is not None:
                b,g,r = cv2.split(img)
                avg_dict = {'Filename':image, 'R Average':np.mean(r), 'G Average':np.mean(g), 'B Average':np.mean(b)}
                avg_df = avg_df.append(avg_dict, ignore_index=True)
            o+=1

    avg_df.drop(index=avg_df.index[0], axis=0, inplace=True)
    avg_df
    return avg_df

In [7]:
avg_df = create_df(avg_df)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000

In [8]:
avg_df

           Filename   R Average   G Average   B Average
1       2387492.jpg   89.918486   89.918486   89.918486
2       2410093.jpg   91.098584   83.267644   77.540491
3       2347873.jpg  152.236246  105.570771   79.500146
4       2413922.jpg  155.305904  144.017813  147.832432
5       2378712.jpg  133.415232  138.774533  145.682565
...             ...         ...         ...         ...
108075  2407870.jpg  158.935063  155.564372  146.570234
108076  2406600.jpg  105.070171   97.614688   76.548277
108077   498316.jpg  119.559224  118.338333  119.844109
108078  2386180.jpg  122.499445  116.810955  103.941269
108079  2340688.jpg  151.342841  166.080793  179.515502

[108079 rows x 4 columns]

In [10]:
avg_df.to_csv('data/avg_database.csv', index=False)