In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('avg_database.csv')
data

           Filename   R Average   G Average   B Average
0       2387492.jpg   89.918486   89.918486   89.918486
1       2410093.jpg   91.098584   83.267644   77.540491
2       2347873.jpg  152.236246  105.570771   79.500146
3       2413922.jpg  155.305904  144.017813  147.832432
4       2378712.jpg  133.415232  138.774533  145.682565
...             ...         ...         ...         ...
108074  2407870.jpg  158.935063  155.564372  146.570234
108075  2406600.jpg  105.070171   97.614688   76.548277
108076   498316.jpg  119.559224  118.338333  119.844109
108077  2386180.jpg  122.499445  116.810955  103.941269
108078  2340688.jpg  151.342841  166.080793  179.515502

[108079 rows x 4 columns]

In [ ]:
# first read in the target image and divide it into RGB channels